<h1>add courses</h1>

<form action="/addCourse" method="POST">
     <div class="input-field">
          <input id="title" name="title" type="text" class="validate" required>
          <label for="title">Название курса</label>
           <span class="helper-text" data-error="Введите название курса"></span>
     </div>
     <div class="input-field">
          <input id="price" name="price" type="text" class="validate" required min="1">
          <label for="price">Цена курса</label>
          <span class="helper-text" data-error="Введите цену курса"></span>
     </div>
     <div class="input-field">
          <input id="img" name="img" type="text" class="validate" required>
          <label for="img">URL картинки</label>
          <span class="helper-text" data-error="Введите url картинки"></span>
     </div>

     <button class="btn btn-primary">Добавить курс</button>
</form>